html, body {
    height: 120vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
}
/*grid container*/
.whole-container {
    display: grid;
    height: 105vh;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 60% 40%;
    width: 100%;
}
/*grid elements top*/
.inputs-container {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.inputs-container p {
    font-size: 1rem;
    margin: 0%;
    margin-bottom: 2%;
}

.inputs-container h1{
    margin-bottom: 0%;
}


    /*General top-inputs on the top*/
.inputs-container input /*All the inputs*/{
    height: 100%;
    width: 99%;
    font-size: 2rem;
    border-top: 1.8px solid gray;
    border-bottom: 1.8px solid gray;
}
.top-inputs /*The container that holds the inputs and everthing else*/{
    padding-top: 5%;
}
.top-inputs div{
    display: flex;
}
.side-symbol /*All the boxes on the sides of the inputs*/ {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 233, 237);
    border-top: 1.5px solid gray;
    border-bottom: 1.8px solid gray;
}

    /*Specific inputs on the top*/
    /*1*/
.mortgage-amount input /*The first input*/{
    width: 80%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1.8px solid gray;
    border-left-color: transparent;
}
.pound /*The box in the first input*/{
    width: 20%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1.5px solid gray;
}

    /*2-3*/
.mortgage-term input, .interest-rate input /*The second input and teh third*/{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.years, .percentage{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1.8px solid gray;
}

    /*2*/
.mortgage-term input{
    width: 75%;
}
.years{
    width: 25%;
}

    /*3*/
.interest-rate input{
    width: 80%;
}
.percentage{
    width: 20%;
}



/* Bottom of the top*/
.mortgage-type{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    height: 35%;
}
.two-options-inputs{
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-bottom: 3%;
}

/*LOOK HERE*/
.two-options-inputs input{
    width: 20%; /* Set the desired width */
    height: 20%; /* Set the desired height */
    margin: 0;
}
.two-options-inputs label{
    display: flex;
    cursor: pointer;
    flex-grow: 1;
    gap: 30%;
    padding: 2%;
    padding-left: 3%;
    /*border*/
    border: 1.5px solid rgb(7, 161, 7);
    border-radius: 4px;
    /*Font-size*/
    font-size: 1.2rem;
}
.two-options-inputs p {
    margin: 0;
}
.mortgage-type button{
    margin-top: 4%;
}

.mortgage-type button{
    font-size: 1.5rem;
    font-weight: 500;
    height: 25%;
    border-radius: 15px;
    background-color: rgb(200, 188, 15);
    box-sizing: border-box;
    margin-top: 0%;
}
/*Bottom*/

.empty-results, .completed-results{
    grid-column: 2/3;
    grid-row: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 55, 82);
    color: white;
}

.empty-results{
    z-index: 1;
}


.completed-results{
    z-index: 0;
}