html, body {
    height: 1200px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
/*grid container*/
.whole-container {
    display: grid;
    height: 900px;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 60% 40%;
    width: 100%;
}
/*grid elements*/
.inputs-container {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

/*The top iputs*/

.inputs-container input{
    height: 100%;
    width: 99%;
    font-size: 2rem;
    border-color: rgb(7, 161, 7);
    border-width: 1.5px;
    border-radius: 4px;
}



/* Bottom inputs 
   Bottom part of the top
*/
.mortgage-type{
    display: flex;
    flex-direction: column;
}

.two-options-inputs{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.two-options-inputs input{
    width: 20%; /* Set the desired width */
    height: 20%; /* Set the desired height */
    margin: 0;
}


.two-options-inputs label{
    display: flex;
    cursor: pointer;
    flex-grow: 1;
    gap: 30%;
    padding: 2%;
    padding-left: 3%;
    /*border*/
    border: 1.5px solid rgb(7, 161, 7);
    border-radius: 4px;
    /*Font-size*/
    font-size: 1.2rem;
}

.two-options-inputs p {
    margin: 0;
}

/*Bottom*/
.results-container{
    grid-column: 2/3;
    grid-row: 2;
}
